<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="section1">
        <h1 id="title">Login</h1>
        <form id="login-form">
          <label for="username">Username: </label>
          <input type="text" id="username" />
          <label for="password">Password: </label>
          <input type="text" id="password" />
          <input type="submit" id="login" value="Login" />
        </form>
      </div>
    </div>
    <script type="module" src="../static/styles/login.js"></script>
  </body>
</html>
